
{% extends "base.html" %}

{%block css%}
<style>
  .table-row:hover{
    background: red;
  }
</style>
{%endblock%}

{% block head %}<title>Index_Page</title>{% endblock %}
{%block content %}

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">No.</th>
        <th scope="col">Site Name</th>
        <th scope="col">Address</th>
        <th scope="col">Machine Type</th>
        <th scope="col">Machine Model</th>
        <th scope="col">Serial Number</th>
        <th scope="col">Last Service Date</th>
        <th scope="col">ECT</th>
        <th scope="col">MRT</th>
        <th scope="col">Modify</th>
        <th scope="col">Delete</th>  
      </tr>
    </thead>
    <tbody>
        {%for result in results %}
       
      <tr class="table-row" data-href="{% url 'maintenance:hour' result.id %}" style="cursor:pointer;" 
          onmouseover="setBackground(this, '#e8bebe');" 
          onmouseout="restoreBackground(this);">
        <td scope="row">{{forloop.counter}}</td>
        <td>{{result.site_name}}</td>
        <td>{{result.site_address}}</td>
        <td>{{result.machine_type}}</td>
        <td>{{result.machine_model}}</td>
        <td>{{result.machine_number}}</td>

        <td>{{result.pub_date}}</td>
        <td>{{result.ECT}}</td>
        <td>{{result.MRT}}</td>
   
        <th><a href="{% url 'index:modify_site' result.id %}"><button type="button"  class="btn btn-primary">Modify</button></a></th>
        <th><a href="{% url 'index:delete_site' result.id %}"><button type="button"  class="btn btn-danger">Delete</button></a></th>
      </tr>
    
   {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'index:add_site'%}"><button type="button"  class="btn btn-success">Add New Site</button></a>

  {% endblock %}

  {%block script%}
  <!-- mouse courser change on table row  -->
  <script>
    $(document).ready(function($) {
      $(".table-row").click(function() {
         window.document.location = $(this).data("href");
         });
     });



    // row color change, mouse on table  
      function setBackground(me, color)
      {
        me.setAttribute("data-oldback", me.style.background);       
        me.style.background=color;
      }

      function restoreBackground(me)
      {
          me.style.background = me.getAttribute("data-oldback");
      }    

 </script>

  {%endblock%}