
{% extends "base.html" %}

{%block css%}
<style>
    .board_search_header{ margin:0; padding:0; width:100%; height:95px;
    position: relative;}

    .board_search_header label{position:absolute; top:0; left:620px; font-size: 25px;}

    .board_search_header .form-group{position: relative; top:40px; width:50%; left:370px;}

    .board_search_header option{font-style: bold;}

    #container{width:50%;   position: relative;}

    .board_list{width:650px; height:400px;  position: relative; top:70px; left:150px;}
    small{position: relative; left:245px; top:60px;}
</style>
{%endblock%}

{% block head %}<title>Board</title>{%endblock%}


{% block content %}

<header class="board_search_header">
    <label for="exampleFormControlSelect1">Select site & Machine</label>
        <div class="form-group">
            <select class="form-control" name="search" id="exampleFormControlSelect1"
            onchange="location.href=this.value">
            <option selected disabled hidden>{{selected_site.site_name}} | {{selected_site.machine_model}} | {{selected_site.machine_number}} | {{selected_site.machine_type}}</option>
                {% for selected in select_site %}
            <option value="{% url 'board:board_list_enterance' selected.id %}">
                {{selected.site_name}} | {{selected.machine_model}} | {{selected.machine_number}} | {{selected.machine_type}}
                </option>
            {% endfor %}
            </select>
        </div>
</header>




<div id="container">
    <small id="emailHelp" class="form-text text-muted">Select one of title list, and you can access, see the detail of the contents</small>
    <div class="board_list">
        <ul class="list-group">

            {%if count_Breakfix >= 1 %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <a href="{% url 'board:breakfix_board' selected_site.id %}">Break Fix</a>
              <span class="badge badge-primary badge-pill">
                  <span id="count_Breakfix">{{count_Breakfix}}</span>
                </span>
            </li>
            {% else %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                No Article
               
            </li>
            {%endif%}


            {%if count_Pmaudit >= 1 %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <a href="{% url 'board:PMAUDIT_board' selected_site.id %}">Pmaudit</a>
              <span class="badge badge-primary badge-pill">
             
                  <span id="count_Pmaudit">{{count_Pmaudit}}</span>
                </span>
            </li>
            {% else %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                No Article
               
            </li>
            {%endif%}


            {%if count_ETC >= 1 %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <a href="{% url 'board:ETC_board' selected_site.id %}">ETC</a>
              <span class="badge badge-primary badge-pill">
             
                  <span id="count_ETC">{{count_ETC}}</span>
                </span>
            </li>
            {% else %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                No Article
               
            </li>
            {%endif%}


            {%if count_overhaul >= 1 %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <a href="{% url 'board:overhaul_board' selected_site.id %}">Overhaul work</a>
              <span class="badge badge-primary badge-pill">
               
                  <span id="count_overhaul">{{count_overhaul}}</span>

                </span>
            </li>
            {% else %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                No Article
               
            </li>
            {%endif%}


            {%if count_routine >= 1 %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <a href="">Routine Check</a>
              <span class="badge badge-primary badge-pill">
              

                  <span id="count_routine">{{count_routine}}</span>
                </span>
            </li>
            {% else %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                No Article
               
            </li>
            {%endif%}
          </ul>
    </div>


    <div id="mychart" style="width:340px; height:340px; position: absolute; left:1000px; top:25px;">
        <canvas id="myChart" width="400" height="400"></canvas>
    </div>
    


</div>



<div id="count_Breakfix" style="display: none;">{{count_Breakfix}}</div>
<div id="count_Pmaudit" style="display: none;">{{count_Pmaudit}}</div>
<div id="count_ETC" style="display: none;">{{count_ETC}}</div>
<div id="count_overhaul" style="display: none;">{{count_overhaul}}</div>
<div id="count_routine" style="display: none;">{{count_routine}}</div>


<!-- <span id="count_Breakfix">{{count_Breakfix}}</span>
<span id="count_Pmaudit">{{count_Pmaudit}}</span>
<span id="count_ETC">{{count_ETC}}</span>
<span id="count_overhaul">{{count_overhaul}}</span>
<span id="count_routine">{{count_routine}}</span> -->



{% endblock %}


{% block script %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>



var count_Breakfix = document.getElementById('count_Breakfix').innerText;
var count_Pmaudit = document.getElementById('count_Pmaudit').innerText;
var count_ETC = document.getElementById('count_ETC').innerText;
var count_overhaul = document.getElementById('count_overhaul').innerText;
var count_routine = document.getElementById('count_routine').innerText;



var ctx = document.getElementById('myChart');




var data = {
    "labels": ["BreakFix", "Pmaudit", "ETC",  "overhaul",  "count_routine" ],
    "datasets": [{
        "label": "My First Dataset",
        "data": [count_Breakfix, count_Pmaudit, count_ETC, count_overhaul, count_routine],
        "backgroundColor": [
            "rgb(247, 51, 7)", 
            "rgb(151, 232, 12)", 
            "rgb(255, 205, 86)",
            "rgb(12, 232, 217)",
            "rgb(243, 131, 247)",
            ]
    }]
};
var myPieChart = new Chart(ctx, {
    type: 'pie',
    data: data,
    // options: options
});


</script>
{% endblock %}