
{% extends "base.html" %}

{%block css%}
<style>
    .board_search_header{ margin:0; padding:0; width:100%; height:95px;
    position: relative;}

    .board_search_header label{position:absolute; top:0; left:620px; font-size: 25px;}

    .board_search_header .form-group{position: relative; top:40px; width:50%; left:370px;}

    .board_search_header option{font-style: bold;}

    #container{width:100%; min-height: calc(100vh - 300px);  position: relative;}

    .board_list{width:650px; height:400px;  position: relative; top:30px; left:420px;}
    small{position: relative; left:570px;}

    .pagenation{position: relative; left:600px;}
</style>
{%endblock%}

{% block head %}<title>Board</title>{%endblock%}


{% block content %}
<header class="board_search_header">
    <label for="exampleFormControlSelect1">Select site & Machine</label>
        <div class="form-group">
            <select class="form-control" name="search" id="exampleFormControlSelect1"
            onchange="location.href=this.value">
            <option selected disabled hidden>{{selected_site.site_name}} | {{selected_site.machine_model}} | {{selected_site.machine_number}} | {{selected_site.machine_type}}</option>
                {% for selected in select_site %}
            <option value="{% url 'board:board_list_enterance' selected.id %}">
                {{selected.site_name}} | {{selected.machine_model}} | {{selected.machine_number}} | {{selected.machine_type}}
                </option>
            {% endfor %}
            </select>
        </div>
</header>

<div id="container">
  

    <div class="tableTotle" style="margin-left: 70px;">
        <span style="font-size: 20px; font-weight: bold;">ETC</span>
        <span style="margin-left: 10px;">
          <a href="{% url 'board:ETC_board_add' selected_site.id %}">
          <button type ="button" class="btn btn-success">Add Ariticle</button>
           </a> 
          </span>
      </div>
  
  
  
  <table class="table" style=" width:1400px; margin:auto; margin-top: 10px;">
  
    <th class="topth" scope="col">#</th>
    <th class="topthdate" scope="col">Published Date</th>
    <th class="topthtect" scope="col">ECT</th>
    <th class="topthtmrt" scope="col">MRT</th>
 
    <th class="topthtitle" scope="col">TITLE</th>
    <th class="topthtsub" scope="col">Modify</th>
    <th class="topthtitle" scope="col">Delete</th>

  </tr>
</thead>
<tbody>
    {% for list in articles %}
  <tr>
    <th scope="row">{{forloop.counter}}</th>
    <td>{{list.checked_date}}</td>
    <td>{{list.checked_ECT}}</td>
    <td>{{list.checked_MRT}}</td>
   
    <td>{{list.title}}></td>
          <td><a href="{% url 'board:ETC_board_modify' selected_site.id list.id %}"><button type="button" class="btn btn-primary">Modify</button></a></td>
          <td><a href="{% url 'board:ETC_board_delete' selected_site.id list.id %}"><button type="button" class="btn btn-danger">Delete</button></a></td>
        </tr>
      
       {% endfor %}
  
     
      </tbody>
    </table>
    <hr>
    <!-- ====================================  Pagination ============================================================= -->
   <div class="pagenation">
    <nav aria-label="Page navigation example" style="margin-left: 6px;">
    {% if articles.has_other_pages %}
    <ul class="pagination">
      {% if articles.has_previous %}
        <li class="page-item"><a class="page-link" href="?pageBREAKFIX={{ articles.previous_page_number }}">Previous</a></li>
      {% else %}
      <li class="page-item"><a class="page-link" href="">Previous</a></li>
      {% endif %}
      {% for i in articles.paginator.page_range %}
        {% if articles.number == i %}
          <li class="page-item"><a class="page-link">{{ i }}</a></li>
        {% else %}
          <li class="page-item"><a  class="page-link" href="?pageBREAKFIX={{ i }}">{{ i }}</a></li>
        {% endif %}
      {% endfor %}
      {% if articles.has_next %}
        <li class="page-item"><a class="page-link" href="?pageBREAKFIX={{ articles.next_page_number }}">Next</a></li>
      {% else %}
      <li class="page-item"><a class="page-link" href="">Next</a></li>
      {% endif %}
     </ul>
       </nav>
  
      
  
       {% endif %}
    </div>
</div>
<hr>



{% endblock %}


{% block script %}

{% endblock %}