
{% extends "base.html" %}

{%block css%}
<style>

   .breakfix_form{
       width:600px;
       margin : 30px;
   }
</style>
{%endblock%}

{% block head %}<title>Maintenance_ETC</title>{%endblock%}

{% block content %}

<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="">{{selected_index}} & {{selected_hour.pub_date}} & ECT : {{selected_hour.ECT}}h & MRT : {{selected_hour.MRT}}h</a>
</nav>
  <hr>
  <div class="return" style="margin:20px;" >
    <a href="{% url 'maintenance:timeform' selected_index.id %}"><button style=" width:75px;" type="button" class="btn btn-success">Return</button></a>
  </div>

<div class="breakfix_form">

<form action="" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="exampleFormControlSelect1">Select related subject</label>
        <select class="form-control" id="exampleFormControlSelect1" name="subject" required>
          <option value="ETC" selected>ETC</option>

        </select>
      </div>

    <div class="form-group">
      <label for="break_title" style="">Title</label>
      <input type="text" class="form-control" id="break_title" name="title" placeholder="write title of this work" required>
    </div>
    
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Comment</label>
      <textarea class="form-control" id="exampleFormControlTextarea1"  name="comment" rows="5" required></textarea>
    </div>

     <input type="submit" value="submit">

  </form>

</div>
{% endblock %}


{% block script %}
<script>

</script>

{% endblock %}